* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

/* Add styles here! */
.max-width-wrapper {
    margin-left: auto;
    margin-right: auto;

    max-width: 650px;
    min-width: 310px;
    margin-top: 48px;
}

header {
    border-bottom: 8px hsl(0deg, 0%, 60%) solid;
    background-color: hsl(0deg, 0%, 100%);
    padding-top: 40px;
    padding-bottom: 40px;
    min-width: 320px;
}

html {
    max-width: 100%;
    background-color: hsl(0deg, 0%, 40%);
}

main {
    background-color: hsl(0deg, 0%, 40%);
}

main section {
    background-color: hsl(0deg, 0%, 90%);
}

strong {
    color: hsl(160deg, 100%, 30%);
}

.intro-chunk {
    max-width: 350px;
    min-width: 300px;
    padding-left: 24px;
}
.card {
    max-width: 650px;
    min-width: 320px;
    border-bottom: 8px hsl(0deg, 0%, 60%) solid;
    padding: 16px 24px;
}

.indented-heading {
    background-color: hsl(45deg, 100%, 50%);
    width: fit-content;
    padding: 16px 32px;
    border-bottom: 8px hsl(45deg, 100%, 40%) solid;
}

h2 {
    margin-top: -8px;
    margin-left: -32px;
}

p {
    line-height: 1.5rem;
}
